@media (max-width: 1024px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 55px 0;
        
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;

    }

    .home .informacoes .titulo{
        font-size: 40px;
    }

    .compreja .cartao{
        width: 70%;
    }
}


@media (max-width: 768px){
    .compreja{
        padding: 30px;
    }

    .compreja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compreja .informacoes h3{
        font-size: 35px;

    }

    .compreja .informacoes .plataformas{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar{
        width: 100%;
    }

}

@media (max-width: 425px) {
    main::after{
        background: linear-gradient(90deg, rgba(0,0,0,0.85), rgba(0,0,0,0.4) 100%, transparent 65%);
    }

    .compreja .cartao .capa-do-jogo {
        max-width: 80%;
    }
}